{{ define "main" }}

<section class="section">
    <h2>{{ .Title }}</h2>

    <div class="post-grid">
        {{ range .Pages }}
        <div class="post-card">
            {{ if .Params.cover }}
            <img src="{{ .Params.cover }}" alt="">
            {{ end }}

            <div class="content">
                <h3>
                    <a class="post-title-link" href="{{ .RelPermalink }}">
                        {{ .Title }}
                    </a>
                </h3>

                <!-- Summary gọn, không full -->
                <p>{{ .Plain | truncate 180 }}</p>
            </div>
        </div>
        {{ end }}
    </div>
</section>

{{ end }}
